@font-face
{
    font-family: "Open Sans";
    src: url('Open_Sans/OpenSans-Regular.ttf');
}

#panel_left_one{
	background-color: #dd1017 ;
	padding-bottom:200px;
}

#panel_left_two{
	background-color: #dd1017 ;
	padding-bottom:200px;
}

#titlebar {
	text-align:center;

	width:auto;
	height:45px;
	padding-left:0px;
}

.title_app{

	position:absolute; 
	top:0; 
	bottom:0; 
	left:40px; 
	right:40px; 
	margin:auto;
	margin-top:15px;
}

.more {
	background-color:#dd1017 !important;
}

#title_content{
	background-color: 8056AB;
	
}

#title {
	
	width:40%;
	margin-top:20px;
	float:left;
	}



.ui-grid-b{
	background-color:#8056AB !important;
}
#describe{
	text-align:justify;
	margin:10px;
	font-size:14px;
	
}
.hotel_content{
	display:flex;
		
}
.img{
	float:flex;
}
.name_hotel{
	float:flex;
	
	white-space: normal;

	height:auto;
	padding-top:20px;
	padding-left:20px;
	
}

#rating_local{
	
	padding-top:10px;
}

.ui-icon-star {

    width:20px;
    height: 20px;
}

.rated {
}

.rating a {
  border: 1px !important;
  background: 
}

.ui-content{

	
}
.main_navbar{
	background:blue;
	height:300px;
	width:auto;
}
.tabs_navbar{


}
#main_tab{
	margin:0px;
	padding:0px;
}

#tabs{
	padding:0px;
	margin:0px;
	border-radius: 0px 0px 0px 0px;
	padding: 0 0 0 0;
}

#fragment-3{
    height: 100%; margin: 0; padding: 0;
}

#fragment-2{
    margin: 0;
    padding: 0;
}


#map{
width:200px;
height:200px;
margin: auto auto auto auto;

}

#page_main{
	background:#dd1017 !important;
}
.main_listview{
	margin:10px;
	border-radius: 10px 10px 10px 10px;
	margin-top:0;
}
.uili_one {
	
   margin: 0 0 0 0;
}
.logo{
	text-align:center;
}
.logo_title{
	text-align:center;
	padding-bottom:20px;
	padding-top:10px;
}
.image_logo{
	text-align:center;
	padding-bottom:15px;
}

.image_size{
	margin:auto;
	height:200px;
	width:200px;
}
#category{
	margin:10px;
	
}
.category_panel{
border-radius: 0 0 0 0;
padding-left:0px;
background:#dd1017;
height:50px;
width:255px;
margin-left:-14px;
}
#gallery{
	text-align:center;
	height:auto;
	width:auto;
	padding-top:5px;
	

}

.popphoto{
	
}
#popimg{
	width:160px;
	height:120px;
	padding:5px;

	
}
#popupParis{
	padding-left:-100px;
}

.title_restaurant{
	color:#000;
	
	text-shadow:0 0 0px;
	font-size:18px;
	
}
#describe_info{
	color:#000;
	text-align:justify;
	text-indent: 6%;
	padding:15px;
	font-weight:lighter;
	font-size:14px;
	text-shadow:0 0 0px;
	background:#F0F0F0;
}
.contact_restaurant{
	float:left;
	color:#000;
	width:100%;
	padding-left:15px;
	padding-top:5px;
	font-size:15px;
	text-shadow:0 0 0px;
	text-align:left;


}
.title_contact_restaurant{
	float:left;
	white-space: normal;
	width:45%;
	text-shadow:0 0 0px;

}
.adress_contact_restaurant{
	float:left;
	white-space: normal;
	width:50%;
	text-shadow:0 0 0px;
	padding-left:15px;
}
#tel_restaurant{
	font-size:14px;
	text-shadow:0 0 0px;
	font-weight:lighter;
	
	}
#email{
	font-size:14px;
	text-shadow:0 0 0px;
}
#adr_restaurant{
	margin-bottom:5px;
}

.rate_restaurant{
	color:#000;
	font-size:15px;
	text-shadow:0 0 0px;
	text-align:left;
	padding-left:15px;
	padding-bottom:5px;
	padding-top:10px;

}
#img_logo{
	text-align:cener;
	width:40%;
}
#name_local_info{
padding:30px;
}

#basic_type{
weight:30px;
}

#comment_local{
 	background:#F0F0F0;
	float:left;
	color:#000;
	width:100%;
	margin-top:10px;
	padding-left:15px;
	padding-top:10px;
	font-size:15px;
	text-shadow:0 0 0px;
	text-align:left;
}

#btn_popup{
 width:100%;
 float:left;
 color:#000;
 padding-left:15px;
 padding-top:10px;
 padding-bottom:10px;
 font-size:12px;
 text-shadow:0 0 0px;
 text-align:left;
}

#user_comment_div{
width:100%;
}

#user_comment{
float:left;
color:#000;
padding:10px;
margin-left:15px;
margin-top:5px;
margin-bottom:5px;
font-size:13px;
text-shadow:0 0 0px;
border: 2px solid #DEDEDE;
border-radius: 10px;
text-align:left;
}

#btn_add_comment{
float:left;
}

#btn_addPhoto{
background:#F0F0F0;
color:#000;
font-size:13px;
text-shadow:0 0 0px;
padding-top:5px;
padding-bottom:5px;
}

button_photo_label{
margin-right:5px;
}
#admin_open{
width:70px;
margin-left:-10px;
margin-top:-20px;
text-align:left;
}

.ui-icon-edit {
   background-color: #6495ED !important;
   border-color:#6495ED !important;

}

#table_local_list{
font-size:16px;
}

#ui-center {
    text-align: center;
    padding-top:16px;
}
#uname{
width:100px;
}

.ui-field-contain{
height:200px;
}

#edit_describe{
height:50px;
}

#add_table{
margin:10px;
}
#min_add{
margin-left:10px;
width:200px;
}
#min_add_disp{
float:flex;
width:190px;
height:95px;
margin-left:10px;
}
#btn_add_local{
margin-left:30px;
margin-right:30px;
}

#select_category{
margin-left:10px;
margin-right:10px;
}